Source: ros-noetic-marvelmind-nav
Section: misc
Priority: optional
Maintainer: smoker77 <smoker77@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-message-generation, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-std-msgs, ros-noetic-visualization-msgs
Homepage: http://marvelmind.com
Standards-Version: 3.9.2

Package: ros-noetic-marvelmind-nav
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-message-runtime, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-std-msgs, ros-noetic-visualization-msgs
Description: Marvelmind local navigation system
